<html>
    <head>
        <title>
            <%= title %>
        </title>
<!-- Linking Layout.css file -->
        <link rel="stylesheet" href="/css/layout.css">
        <!-- whenever the 'body' encounters the 'link' tag it will come here and render. it can be 'style(css file)'' or a 'script' file  -->
        <%- style %>
    </head>
    <body>
        <!-- Implementing Partials : Header -->
        <%- include('header'); -%>
        
        <!-- body Contains the Variable Part -->
        <!-- body is the default given by the express-ejs-layouts -->
        <%- body %>
         

        <!-- Footer -->
        <%- include('footer'); -%>
        <!-- Renders script whenever link tag is encountered in the 'body' -->
        <%- script %>
    </body>
</html>